.inline-block {
    display: inline-block;
    vertical-align: top;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
    padding-right: 100px;
}

header nav {
   width: 100%;
   box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

body {
    margin: 0;
}

.about {
    /* background: rgba(204,85,102,0.3); */
    mix-blend-mode: normal;
    height: 600px;
    background: rgba(114, 90, 122, 0.25);
}

.about .helloContent {
    display: flex;
    justify-content: space-between;
}

.about .helloContent .helloText {
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 122px;
}

.about .aboutContent {
    width: 700px;
    margin: 0 auto;
    padding-top: 90px;
}

footer {
    background-color: #272727;
    padding: 1%;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    

}

img.angel-pic {
    width: 200px;
    border-radius: 50%;
    vertical-align: middle;
    height: 250px;
}

div.flexContainer {
    display: flex;
}

div.flexContainer div {
    width: 33%;
    padding: 20px;
}

div.flexContainer div img {
    width: 200px;
}

div.workGrid div img {
    width: 200px;
}

html {
    scroll-behavior: smooth;
    font-family: Montserrat;
    color: #999999;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 20px;
    padding-right: 20px;

}

.mySkills, .myWork {
    height: 600px;
}

#downloadButton {
    --c: rgba(204,85,102,0.3);
    color: var(--c);
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 190px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
   
}

#downloadButton span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#downloadButton:hover {
    color: #999999;
}

#downloadButton:hover span {
    transform: translateY(0) scale(2);
}

#downloadButton span:nth-child(1) {
    --n: 1;
}

#downloadButton span:nth-child(2) {
    --n: 2;
}

#downloadButton span:nth-child(3) {
    --n: 3;
}

#downloadButton span:nth-child(4) {
    --n: 4;
}

/* .workGridItemHeader {
    grid-area: myHeader;
}

.workGridItem {
    grid-area: myArea;
} 

div.workGrid {
    display: grid;
    grid-template-areas:
    ". myHeader"
    "myArea myArea myArea";
    grid-template-rows: auto;
    grid-template-columns: 50px 50px 50px 50px;
} */

@media only screen and (max-width: 600) {
    div.flexContainer {
        flex-direction: column;
        width: 100%;
        padding: 20px;
     }
}
